/* CSS Document */

* {
margin:0;
padding:0;
}
body {
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:400;
text-align:left;
}
.container {
margin-left:auto;
margin-right:auto;
width:100%;
}
.head{
width:100%;
min-width:1000px;
height:54px;
background-color:#1e4093;
}
#logo{
float:left;
display:block;
background:url("../images/logo.png") no-repeat scroll left top transparent;
width:35px;
height:35px;
}
#enter {
display:block;
float:left;
width:50px;
height:28px;
padding-top:7px;
}
#MenuBar1 {
width:90%;
float:left;
height:35px;
list-style-type:none;

}
#MenuBar1 li {
float:left;
background:url("../images/strip1.gif") no-repeat scroll right center transparent;
height:35px;
width:150px;
}
#MenuBar1 li a {
display:block;
height:35px;
padding-top:7px;
text-align:center;
width:150px;
}
#MenuBar1 li a:link, #MenuBar1 li a:visited, .head a:link, .head a:visited{
color:#cbcbcb;
text-decoration:none;
}
#MenuBar1 li a:hover, #MenuBar1 li a:active, .head a:hover, .head a:active  {
color:#FFFFFF;
text-decoration:overline;
}
#strip{
clear:both;
width:100%;
height:19px;
background:url("../images/full_path_bg.gif") repeat scroll left top transparent;
}
.content {
height:auto !important;
min-height:480px;
width:100%;
min-width:990px;
clear:both;

}

.content h2, #access_point_editor_form h2{
clear:both;
height:22px;
color:#000a5c;
font-size:14px;
background:url("../images/strip2.png") repeat-x scroll left bottom transparent;
padding-top:10px;
padding-left:10px;
margin-left:20px;
margin-right:20px;
}

#access_point_editor_form h2{
margin-left:0px;
margin-right:0px;
}

.params{
float:left;
width:800px;
padding-left:30px;
}
.params p{
width:100%;
overflow:auto;
padding-top:10px;
clear:both;
}
.params p label{
width:200px;
height:24px;
display:block;
float:left;
}

.params p .long_label {
width:250px;
height:24px;
display:block;
float:left;  
}

.error_span {
 padding-left:5px;  
 font-size:11px; 
 color:#ff0000;
}

#main_scheme_cb{
float:left;
margin-right:10px;
}
.params p #name{
width:300px;
height:20px;
}
.params p #photo_submit{
width:80px;
margin-left:5px;
}
#accept_edit{
margin-left:250px;
}
#recycle_edit{
margin-left:20px;}

#tabl {
width:100%;
height:30px;
clear:both;
}
#tabl a {
display:block;
float:left;
width:111px;
height:23px;
cursor:pointer;
background:url("../images/button.png") no-repeat scroll center center transparent;
color:#cbcbcb;
text-decoration:none;
text-align:center;
padding-top:5px;
}
#tabl a:link, #tabl a:visited{
background:url("../images/button.png") no-repeat scroll center center transparent;
color:#cbcbcb;
}
#tabl a:hover, #tabl a:active{
color:#FFFFFF;
background:url("../images/button_hover.png") no-repeat scroll center center transparent;
}

#manage_buttons{
width:100%;
overflow:auto;
margin-bottom:10px;
}

#point_edit_button_form p{
width:111px;
height:23px;
float:left;
margin-left:30px;
margin-top:10px;
}

#manage_buttons p input:hover, 
#save_editor_button:hover, #test_editor_button:hover, 
#reload_editor_button:hover, #refresh_settings_button:hover,
#set_settings_button:hover{
color:#FFFFFF;
background:url("../images/button_hover.png") no-repeat scroll center center transparent;
}

#point_edit_button_form p input, #save_editor_button, 
#test_editor_button, #reload_editor_button,#refresh_settings_button, #set_settings_button{
width:111px;
height:23px;
color:#cbcbcb;
padding-bottom:5px;
background:url("../images/button.png") no-repeat scroll center center transparent;
border:0px;
cursor:pointer;
}

#save_editor_button{
margin-left:5px;
}

#photo_div {
float:left;
width:800px;
height:600px;
margin-left:20px;
margin-bottom:10px;
overflow:scroll;
border:solid #000066 5px;
position:relative;
}
#photo_div img {
border:4px solid #CCCCCC;
}
#photo_div a:link, .photo_s a:visited {
color:#666666;
}
#photo_div a:hover, .photo_s a:active {
color:#000000;
}

#right_panel{
float:left;
height:200px;
margin-left:10px;
background-color:#378888;
}



#access_point_editor {
background-color:#FFFFFF;
border:5px solid #012369;
display:none;
left:40%;
margin-left:-275px;
margin-top:-150px;
padding-left:10px;
padding-right:10px;
position:fixed;
top:40%;
width:800px;
z-index:1000;
}

.label_input_wrapper{
padding-top:10px;
padding-left:5px;
padding-right:5px;
float:left;
}

#access_point_editor_form p label {
width:auto;
height:20px;
display:block;
float:left;
color:#000000;
text-align:right;
margin-right:5px;
}
#buttons_wrapper_point{
width:400px;
clear:both;
}
#buttons_wrapper_ssid{
text-align:center;
width:250px;
margin-left:auto;
margin-right:auto;
}
#buttons_wrapper_point, #buttons_wrapper_ssid{
clear:both;
height:23px;
padding-top:10px;
margin-left:auto;
margin-right:auto;
}

#ssid_wrapper{
float:left;
width:425px;
overflow:auto;
height:240px;
}

#settings_undefined_wrapper {
height:240px;	
}

#loading_wrapper {
	text-align:center;
	display:none;
	position:absolute;
	margin-top:226px;
	width:100%;
	
}

#ssid_wrapper p, #channel_wrapper p, #settings_undefined_wrapper p{
padding-left:10px;
padding-top:10px;
}

#channel_wrapper{
float:left;
width:350px;
margin-left:20px;
overflow:auto;
height:240px;;
}

#channel_wrapper p{
margin-left:20px;
}

#channel_wrapper p label{
width:170px;
text-align:left;
}

#channel_wrapper p input,#channel_wrapper p select{
width:120px;
}

#ssid_list_wrapper{
float:left;
width:136px;
margin-top:10px;
}

#ssid_list{
width:130px;
height:100px;
overflow:scroll;
/*background-color:#0a1457;*/
border:solid #CCCCCC 3px;
}

#ssid_list li a{
display:block;
min-height:20px;
padding-top:10px;
padding-left:10px;
padding-right:10px;
line-height:18px;
cursor:pointer;
}
#ssid_list li.active a{
font-weight:800;
color:#FFFFFF;
background-color:#424b84;
}
#ssid_list a:link, #ssid_list a:visited{
color:#cbcbcb;
text-decoration:none;
}
#ssid_list a:hover, #ssid_list a:active{
color:#FFFFFF;
background-color:#AFAF8F;
}


#ssid_info{
width:280px;
margin-left:130px;
overflow:auto;
}

#ssid_info p label{
width:120px;
text-align:left;
}

#ssid_info p input, #ssid_info p select{
width:140px;
}

#close_editor_button{
display:block;
width:111px;
height:23px;
padding-bottom:5px;
margin-left:auto;
margin-right:auto;
margin-bottom:10px;
color:#cbcbcb;
background:url("../images/button.png") no-repeat scroll center center transparent;
border:0px;
cursor:pointer;
}

#close_editor_button:hover{
color:#FFFFFF;
background:url("../images/button_hover.png") no-repeat scroll center center transparent;
}
#ssid_list_wrapper div{
overflow:auto;
}

#add_ssid_button, #remove_ssid_button{
display:block;
float:left;
width:66px;
height:23px;
color:#cbcbcb;
margin-top:5px;
padding-bottom:10px;
font-size:11px;
background:url("../images/small_button.png") no-repeat scroll center center transparent;
border:0px;
cursor:pointer;
font-weight:800;
font-size:20px;
}

#add_ssid_button:hover, #remove_ssid_button:hover{
color:#FFFFFF;
background:url("../images/small_button_hover.png") no-repeat scroll center center transparent;
}
#remove_ssid_button{
margin-left:2px;
}


.footer {
clear:both;
width:100%;
min-width:1000px;
height:54px;
background-color:#1e4093;
}

.footer p{
float:right;
padding-top:30px;
width:200px;
color:#cbcbcb;
}

.client_list_table {
  float:left;
  width:100%;
  padding-left:30px;
  padding-right:30px;
  font-weight:0;
}

.client_list_table td{padding-top:2px; padding-bottom:2px;}

.polos_tr{background-color:#e9e9e9;}


.header_div{ width:100%; height:40px; color:#252525; margin-top:5px; border:1px solid #dedddd; background-color:#e9e9e9;}
.header_div h1{
  color:#000a5c;
  font-size:15px; 
  width:450px; 
  float:left; 
  height:20px; 
  padding-top:10px;
  padding-left:10px;
  margin-left:20px;
  margin-right:20px;
}

.header_div input {
  display:block; 
  float:right; 
  font-size:11px; 
  margin-top:10px;
  margin-right:20px;
  background:url("../images/small_button.png") no-repeat scroll center center transparent;
  color:#cbcbcb;
  cursor:pointer;
}

.header_div input:hover{
color:#FFFFFF;
background:url("../images/button_hover.png") no-repeat scroll center center transparent;
}


.under_header_div{ 
    width:100%; 
    margin-top:5px; 
    padding-left:20px;

}

.list_table{
  margin-bottom:20px; 
  margin-top:10px; 
  border-bottom:1px solid #dedddd;
  
}

.list_table .td_big {
  padding-top:7px; 
  padding-bottom:7px;
  width:100px;
  text-align:left;
  padding-left:5px;
}


.list_table .td_terminal {
  border:none;

}

.list_table .td_small {
  padding-top:7px; 
  padding-bottom:7px;
  width:35px;
  text-align:center;
}

.list_table th { 

  text-align:center; 
  padding-top:7px; 
  padding-bottom:7px;
  border:1px solid #dedddd; 
  background-color:#e9e9e9;
}

.daemon_status_work {
 color:rgb(0,200,0) 
}

.daemon_status_no_work {
 color:rgb(255,0,0) 
}

#error_message{
  color:red;
  display:none;

}

