#LoadModule rewrite_module modules/mod_rewrite.so
RewriteEngine On


RewriteRule ^login/$ login.php
RewriteRule ^controlserver/.*$ controlserver.php
RewriteRule ^((?!(images|css|js|user_images|login|controlserver)).*)/$ index.php


###Перенаправления для статического контента:
#RewriteRule ^.*/css/(.*)$ css/$0
